# Go ignores
/core/build/
*.exe
*.exe~cast
*.dll
*.so
*.dylib
*.test
*.out

# Android ignores
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/dist/android/
/dist/macos/
/dist/windows/Nebula/
/dist/windows/PepeWatafa/
/dist/windows/*.zip
/apps/windows/NexusVPN/bin/
/apps/windows/NexusVPN/obj/Release/

# IDEs
.vscode
